<!-- sidebar -->
		<div id="sidebar">

      	    <div class="about-me">

         	    <h3>About Me</h3>

                <p>
		        <a href="index.html"><img src="/static/images/gravatar.jpg" width="42" height="42" alt="firefox" class="align-left" /></a>
                Lorem ipsum dolor sit, consectetuer adipiscing. Donec libero. Suspendisse bibendum.
			    Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
			    posuere nunc justo tempus leo suspendisse bibendum. <a href="index.html">Learn more...</a>
			    </p>

            </div>

			<div class="sidemenu">

				<h3>Sidebar Menu</h3>
                <ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#TemplateInfo">TemplateInfo</a></li>
					<li><a href="style.html">Style Demo</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="archives.html">Archives</a></li>
					<li><a href="http://themeforest.net?ref=ealigam" title="Web Templates">Web Templates</a></li>
				</ul>

			</div>

			<div class="sidemenu">

				<h3>Sponsors</h3>

                <ul>
			        <li><a href="http://themeforest.net?ref=ealigam" title="Site Templates">Themeforest
	            	<span>Site Templates, Web &amp; CMS Themes.</span></a>
	                </li>
					<li><a href="http://www.4templates.com/?go=228858961" title="Website Templates">4Templates
	            	<span>Low Cost High-Quality Templates.</span></a>
	                </li>
					<li><a href="http://store.templatemonster.com?aff=ealigam" title="Web Templates">Templatemonster
	            	<span>Delivering the Best Templates on the Net!</span></a>
	                </li>
					<li><a href="http://graphicriver.net?ref=ealigam" title="Stock Graphics">Graphic River
	            	<span>Awesome Stock Graphics.</span></a>
	                </li>
                    <li><a href="http://www.dreamhost.com/r.cgi?287326|sshout" title="Webhosting">Dreamhost
	            	<span>Premium Webhosting. Use the promocode <strong>sshout</strong> and save <strong>50 USD</strong>.</span></a>
	                </li>
				</ul>

			</div>

            <div class="sidemenu popular">

				<h3>Most Popular</h3>
				<ul>
			   	<li><a href="index.html">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						<span>Posted on December 22, 2010</span></a>
					</li>
                <li><a href="index.html">Cras fringilla magna. Phasellus suscipit.
						<span>Posted on December 20, 2010</span></a>
					</li>
                <li><a href="index.html">Morbi tincidunt, orci ac convallis aliquam.
						<span>Posted on December 15, 2010</span></a>
					</li>
                <li><a href="index.html">Ipsum dolor sit amet, consectetuer adipiscing elit.
						<span>Posted on December 14, 2010</span></a>
					</li>
                <li><a href="index.html">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem
						<span>Posted on December 12, 2010</span></a>
					</li>
				</ul>

			</div>

        <!-- /sidebar -->